/* the navbar also uses styles from `style.css` */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-width: 300px;
}

/* convenience style for page bodies */
.nav-header-spacer {
  width: 100%;
  height: 4rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: black;
}

/* these will only appear on desktop (see media query below) */
.nav-header > .nav-link-container {
  display: none;
}

.social-button-container {
  margin-left: 1rem;
  display: flex;
  column-gap: 1rem;
}

.social-button, .social-button > img {
  width: 2rem;
}

.social-button > img {
  position: relative;
  /* not sure why they're not vertically centered */
  top: 2px; 
}

.animate {
  transition: all .45s ease-out;
  -moz-transition: all .45s ease-out;
  -webkit-transition: all .45s ease-out;
}

.nav-menu {
  overflow: hidden;
  /* hidden by default */
  height: 0;
}

.nav-menu.open {
  /* subtract the height of the nav-header */
  height: calc(100vh - 4rem);
}

.nav-menu > .nav-link-container {
  /* again, subtract the height of the nav-header to v-center the elements */
  height: calc(100% - 4rem);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  row-gap: 6rem;
  color: white;
}

.nav-menu > .nav-link-container > a {
  text-align: center;
  color: #fec31d;
  font-size: 2rem;
}

.nav-icon {
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon span {
  margin: .333rem auto;
  display: block;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  content: '';
  height: .333rem;
  width: 2rem;
  background-color: #fec31d;
}

.nav-icon.nav-icon--open:before {
  transform: translateY(.666rem) rotate(135deg);
  -webkit-transform: translateY(.666rem) rotate(135deg);
  -moz-transform: translateY(.666rem) rotate(135deg);
}

.nav-icon.nav-icon--open:after {
  transform: translateY(-.666rem) rotate(-135deg);
  -moz-transform: translateY(-.666rem) rotate(-135deg);
  -webkit-transform: translateY(-.666rem) rotate(-135deg);
}

.nav-icon.nav-icon--open span {
  transform: scaleX(0);
  -moz-transform: scaleX(0);
  -webkit-transform: scaleX(0);
}


/* desktop navbar styles */
/* hide the social buttons and menu, just display the navlinks */
@media screen and (min-width: 900px) {

  .social-button-container,
  .nav-icon,
  .nav-menu {
    display: none;
  }

  .nav-header > .nav-link-container {
    padding: 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  /* if you want to center the middle element, start here: */
  /* https://stackoverflow.com/questions/32378953/keep-the-middle-item-centered-when-side-items-have-different-widths */

  .nav-header > .nav-link-container > a {
    color: #fec31d;
    font-size: 1.2rem;
  }

}
