html, body {
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  height: 100vh;
  /* don't use `100vw` because it doesn't take the width of the scrollbar into account! */
  width: 100%;
  min-width: 300px;
}

* {
  box-sizing: border-box;
  color: white;
}


/* ----- common fonts, colors, and styles ----- */

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: #fec31d;
}

.text-white {
  color: white !important;
}

.text-blue {
  color: #008aa6 !important;
}

.text-pink {
  color: #ea0b7e !important;
}

.text-yellow {
  color: #fec31d !important;
}

.title-font {
  font-family: "gabriella", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  /* line-height: 1.62rem; */
}

.title-font.tight {
  line-height: .635;
}

.title-font.nudge {
  position: relative; 
  top: 0.075rem;
}

.flush {
  margin-bottom: -.25rem;
}

.copy-font {
  font-family: "como", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  letter-spacing: .075rem;
  line-height: 1.35rem;
}

.copy-font.semibold {
  font-weight: 400;
}

.copy-font.bold {
  font-weight: 700;
}

.copy-font.text-lg {
  font-size: 1.2rem;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.button-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: fit-content;
  height: fit-content;
  padding: .75rem 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #fec31d;
  border-radius: .75rem;
  cursor: pointer;
}

.button:hover {
  background-color: #fec31d;
}

.button:hover > .button-label {
  color: black;
}

.button-label {
  color: #fec31d;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  /* margin: 0 .5rem; */
}


/* ----- utility classes ----- */

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.spacer-xs {
  width: 100%;
  height: 1rem;
}

.spacer-sm {
  width: 100%;
  height: 3rem;
}

.spacer, .spacer-md {
  width: 100%;
  height: 6rem;
}

.relative {
  position: relative;
}

.mb-xs {
  margin-bottom: .5rem;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mt-md {
  margin-top: 3rem;
}

.mr-xs {
  margin-right: .5rem;
}


/* ----- landing page styles ----- */

.virtual-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 6rem;
  /* line-height: 3.8rem; */
}

.main-heading > * {
  display: block;
}

.main-subtitle {
  width: 18rem;
  margin: 1.5rem 0;
}

.view-work-button-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

/* see https://webcode.tools/css-generator/keyframe-animation */
.animate-bounce {
  animation: Bounce 1s ease 0s infinite normal forwards;
}
.animate-bounce-alt {
  animation: BounceAlt 1s ease 0s infinite normal forwards;
}
@keyframes Bounce {
	0%,
	100% {
		transform: translateY(8px);
	}

	50% {
		transform: translateY(-8px);
	}
}
@keyframes BounceAlt {
	0%,
	100% {
		transform: translateY(-8px);
	}

	50% {
		transform: translateY(8px);
	}
}

.section-heading {
  margin: 2rem 0 0 0;
  font-size: 2rem;
}

.responsive-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 3rem;
  gap: 1.5rem;
  /* add a little space for the hover style */
  margin-bottom: 1rem;
}

.responsive-grid > a {
  height: 100%;
  line-height: 0;
}

.responsive-grid > a > img {
  width: 100%;
  border-radius: 1rem;
  transition: all;
  transition-duration: .15s;
}

.responsive-grid > a > img:hover {
  box-shadow:
    0 0 0 .2rem black,
    0 0 0 .4rem #fec31d;
}

.decoration-yellow-line {
  background-color: #fec31d;
  width: 100%;
  height: .5rem;
  /* position: absolute; */
}

.decoration-pink-arrow {
  /* center on page */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* see CSS tricks: https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 2rem solid #ea0b7e;
}


/* ----- about/contact page styles ----- */

.about-page-body {
  display: block;
}

.about-page-description {
  padding: 1rem 3rem;
  margin: 0 auto;
  /* hard-coded max to best lay out the copy text */
  max-width: 41rem;
}

.about-page-subtitle {
  font-size: 1.5rem;
}

.contact-page-title {
  margin-top: 2rem;
  font-size: 4rem;
}

.contact-page-title > * {
  display: block;
}

.contact-icon-email {
  content: url("../img/contact/email-2.png");
}

.contact-icon-ig {
  content: url("../img/contact/ig.png");
}

.contact-icon-li {
  content: url("../img/contact/li.png");
}

.button:hover > .contact-icon-email {
  content: url("../img/contact/email-2_black.png");
}

.button:hover > .contact-icon-ig {
  content: url("../img/contact/ig_black.png");
}

.button:hover > .contact-icon-li {
  content: url("../img/contact/li_black.png");
}

/* hide on small screens */
.ari-photo-area {
  display: none;
}
.about-decoration {
  display: none;
}

/* ----- menu page styles ----- */

.menu-responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
}

.menu-responsive-body > img {
  width: 100%;
}


/* ----- detail page styles ----- */

.page-title {
  padding: 0 2rem;
}

.responsive-body {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

/* .detail-text-block {
  padding: 0;
} */

.responsive-two-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
}

.detail-image img {
  position: relative;
  width: 100%;
}

.image-caption-left,
.image-caption-right {
  width: 100%;
  font-size: .8rem;
  text-align: center;
}

.back-footer {
  font-size: 1.25rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.back-footer > * {
  margin: auto 0;
}

.back-footer > .arrow {
  display: inline-block;
  /* see CSS tricks: https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  border-top: .45rem solid transparent;
  border-bottom: .45rem solid transparent;
  border-right: .75rem solid #ea0b7e;
  margin-right: .15rem;
}

/* see https://stackoverflow.com/a/20130011 */
.responsive-iframe {
  position: relative;
  padding-top: 56%;
}

.responsive-iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
