html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

* {
  box-sizing: border-box;
  color: white;
}


/* ----- common fonts, colors, and styles ----- */

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: #fec31d;
}

.text-white {
  color: white !important;
}

.text-blue {
  color: #008aa6 !important;
}

.text-pink {
  color: #ea0b7e !important;
}

.text-yellow {
  color: #fec31d !important;
}

.title-font {
  font-family: "gabriella", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  /* line-height: 1.62rem; */
}

.title-font.tight {
  line-height: .635;
}

.flush {
  margin-bottom: -.25rem;
}

.copy-font {
  font-family: "como", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  letter-spacing: .075rem;
  line-height: 1.35rem;
}

.copy-font.bold {
  font-weight: 700;
}

.page-title {
  margin: 3rem 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.button-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: 1.25rem;
  margin: 0 auto;
  width: fit-content;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  border: 1px solid #fec31d;
  border-radius: .25rem;
}

.button-label {
  text-align: center;
  line-height: normal;
  font-size: 1.25rem;
  margin: auto .5rem;
}


/* ----- utility classes ----- */

.center {
  text-align: center;
}

.spacer-xs {
  width: 100%;
  height: 1rem;
}

.spacer-sm {
  width: 100%;
  height: 3rem;
}

.spacer, .spacer-md {
  width: 100%;
  height: 6rem;
}

.relative {
  position: relative;
  /* top: 0;
  left: 0; */
}

.mb-xs {
  margin-bottom: .5rem;
}

.mb-sm {
  margin-bottom: 1.5rem;
}


/* ----- landing page styles ----- */

.virtual-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-heading {
  font-size: 6rem;
  /* line-height: 3.8rem; */
}

.view-work-button-area {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
}

/* see https://webcode.tools/css-generator/keyframe-animation */
.animate-bounce {
  animation: Bounce 1s ease 0s infinite normal forwards;
}
.animate-bounce-alt {
  animation: BounceAlt 1s ease 0s infinite normal forwards;
}
@keyframes Bounce {
	0%,
	100% {
		transform: translateY(8px);
	}

	50% {
		transform: translateY(-8px);
	}
}
@keyframes BounceAlt {
	0%,
	100% {
		transform: translateY(-8px);
	}

	50% {
		transform: translateY(8px);
	}
}

.project-link-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.project-link {
  text-align: center;
}

.decoration-yellow-line {
  background-color: #fec31d;
  width: 100%;
  height: 1.5rem;
  position: absolute;
}

.decoration-pink-arrow {
  /* center on page */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* see CSS tricks: https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 2rem solid #ea0b7e;
}


/* ----- contact page styles ----- */

.contact-page-title {
  margin-top: 2rem;
}

.contact-page-subtitle {
  font-size: 1.5rem;
}

.contact-page-description {
  padding: 1rem 3rem;
  font-size: 1.25rem;
}

.ari-photo-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 0 1rem; */
}

.ari-photo {
  margin-left: 1rem;
  width: 50%;
  z-index: 10;
}


/* ----- logo page styles ----- */

.logo-responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 6rem;
  gap: 2rem;
}

.logo-responsive-body > a > img {
  width: 100%;
}


/* ----- product page styles ----- */

.product-responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* padding: 0 6rem; */
  gap: 2rem;
}

.product-responsive-body > a > img {
  width: 100%;
}


/* ----- menu page styles ----- */

.menu-responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* padding: 0 6rem; */
  gap: 2rem;
}

.menu-responsive-body > img {
  width: 100%;
}


/* ----- detail page styles ----- */

.detail-responsive-body {
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.detail-text-block {
  padding: 3rem;
}

.back-footer {
  font-size: 1.25rem;
  padding: 2rem 1rem;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.back-footer > * {
  margin: auto 0;
}

.back-footer > .arrow {
  display: inline-block;
  /* see CSS tricks: https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
  border-right: 1.36rem solid #ea0b7e;
  margin-right: .75rem;
}
